.appContainer {
  width: 600px;
  border: 1px solid black;
  height: 600px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;


  .quizContainer {
    margin: 40px 40px 0 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 678px) {
  .appContainer {
    width: 400px;
  }
}

@media(max-width: 450px) {
  .appContainer {
    width: 300px;
  }
}
